:root {
  --heading-size-1: 32px;
  --heading-size: 24px;
  --heading-size-secondary: 19px;
  --text-size: 19px;
  --text-color: #474746;
  --text-color-light: hsl(var(--text-color), 100%, 44%);
  --c-eu: hsla(211.2, 100%, 29.4%, 1);
  --c-eu-5: hsla(211.2, 100%, 29.4%, .5);
  --c-secondary: #FCD838;
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  /* UI Colors */
  --primary-hue: 12;
  --color--primary: hsl(var(--primary-hue), 100%, 44%);
  --color--primary--hover: hsl(var(--primary-hue), 100%, 39%);
  --color--primary--active: hsl(var(--primary-hue), 100%, 30%);
  /* Grays */
  --c-g-1: hsl(0, 0%, 10%);
  --c-g-2: hsl(0, 0%, 20%);
  --c-g-3: hsl(0, 0%, 30%);
  --c-g-4: hsl(0, 0%, 40%);
  --c-g-5: hsl(0, 0%, 50%);
  --c-g-6: hsl(0, 0%, 60%);
  --c-g-7: hsl(0, 0%, 70%);
  --c-g-8: hsl(0, 0%, 80%);
  --c-g-9: hsl(0, 0%, 90%);
  /* */
  --border-color: #ebebeb;
  /* Box Shadows */
  --shadow: 0px 4px 4px 0px rgba(37, 37, 37, 0.25);
  --shadow-01: 0px 2px 4px rgba(37, 37, 37, 0.1);
  --shadow-02: 0px 4px 8px rgba(37, 37, 37, 0.1);
  --shadow-03: 0px 8px 16px rgba(37, 37, 37, 0.1);
  --shadow-04: 0px 16px 24px rgba(37, 37, 37, 0.1);
  --shadow-05: 0px 24px 32px rgba(37, 37, 37, 0.1); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Arial;
  font-stretch: initial; }

#CorContainer {
  --color-1: #bac4ca;
  --color-2: #e7e5dd;
  --color-3: #cde5d7;
  --color-4: #9bc5ce;
  --color-5: #eaba52;
  --color-6: #e16962;
  --color-7: #0f3753; }

.navbar .navbar-collapse {
  background-color: var(--color-7); }

.navbar a.nav-link:hover, a.nav-link:focus, a.nav-link:active, a.nav-link.active {
  background-color: var(--color-5);
  color: var(--color-7); }

#logos {
  display: none; }

@media screen and (min-width: 990px) {
  #logos {
    display: block; } }

header#title .title {
  margin-top: 70px; }

#Speakers-container {
  text-align: left; }

#CorContainer *, #CorContainer ::before, #CorContainer ::after {
  box-sizing: border-box; }

#CorContainer {
  padding: 0; }

.theme-title {
  font-size: 1.75rem; }

.theme-description {
  font-size: 1rem; }

/* Nav */
.navbar .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

/* Program */
.ec-europcom-program-item__workshop summary {
  background-color: #232942;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: .5rem; }

.ec-europcom-program-item__workshop__description {
  background: white;
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 1rem; }

.og-details a {
  all: unset;
  text-decoration: underline;
  cursor: pointer; }

.og-details a::before {
  content: ''; }

.og-details a.ec-europcom-speaker__btnlink {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
  cursor: pointer; }

/* Themes */
.ec-europcom-themes {
  display: grid;
  gap: 15px;
  grid-template-areas: "greenpicture greentext" "citizenspicture citizenstext" "digitalpicture  digitaltext";
  grid-template-rows: 1fr 1fr 1fr; }

.ec-europcom-themes > div {
  border-radius: 10px; }

.ec-europcom-themes__theme {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ec-europcom-themes__theme + div {
  display: grid;
  place-items: center;
  padding: 1rem; }

.theme-title {
  margin-top: 0; }

.ec-europcom-themes__theme--green + div {
  background-color: var(--color-3);
  grid-area: greenpicture; }

.ec-europcom-themes__theme--citizens + div {
  background-color: var(--color-5);
  grid-area: citizenspicture; }

.ec-europcom-themes__theme--digital + div {
  background-color: var(--color-6);
  grid-area: digitalpicture; }

.ec-europcom-themes__theme--green {
  grid-area: greentext; }

.ec-europcom-themes__theme--citizens {
  grid-area: citizenstext; }

.ec-europcom-themes__theme--digital {
  grid-area: digitaltext; }

@media screen and (min-width: 700px) {
  .ec-europcom-themes {
    display: grid;
    gap: 15px;
    grid: 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: "greentext citizenspicture digitaltext" "greenpicture citizenstext digitalpicture"; } }

/* Header */
header#title .location {
  margin-top: 0; }

header#title .imageHeader {
  text-align: center; }

header#title .imageHeader > div {
  margin-top: 35px; }

header#title .imageHeader svg {
  max-width: 100%; }

header#title .title,
header#title .sub-title {
  padding-right: 0; }

header#title .title {
  font-size: 2rem; }

@media screen and (min-width: 500px) {
  header#title .title {
    font-size: 3.8rem; } }

header#title {
  background-color: var(--color-4);
  text-align: center; }

.highlight {
  color: var(--color-6); }

#about-container {
  background-color: var(--color-3); }

#Themes-container {
  background: #9bc5ce;
  margin-top: 3rem;
  padding: 1rem; }

@media screen and (min-width: 500px) {
  #Themes-container {
    margin-top: 5rem; } }

header#title .twitter-location {
  padding-right: 0;
  text-align: right; }

@media screen and (min-width: 500px) {
  header#title .twitter-location {
    padding-right: 0;
    text-align: right; } }

/* HEader */
header#logos {
  height: inherit; }

#logo-cor {
  height: 100px; }

#logo-cor .CoRLogo {
  height: 65px;
  top: 15px; }

.ec-europcom-blockquote {
  padding: 0;
  font-size: 1.5rem; }

@media screen and (min-width: 700px) {
  .ec-europcom-blockquote {
    font-size: 2rem;
    padding: 1rem; } }

@media screen and (min-width: 1000px) {
  .ec-europcom-blockquote {
    font-size: 2.5rem;
    padding: 2rem; } }

.ec-europcom-blockquote svg {
  vertical-align: top;
  width: 30px; }

.ec-europcom-blockquote div {
  display: inline; }

.ec-europcom-blockquote svg path {
  fill: var(--color-2); }

.ec-europcom-align-center {
  display: grid;
  place-items: center; }

.ec-europcom-socialmedia__title {
  font-size: 1.5rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-align: center; }

.ec-europcom-socialmedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  place-items: center;
  margin: 0;
  list-style: none; }

.ec-europcom-socialmedia ul li {
  padding: 1rem 1.5rem; }

.ec-europcom-flags {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  place-items: center; }

.ec-europcom-footer {
  background-color: var(--color-7);
  color: white; }

footer a, footer a:link, footer a:visited, footer a:focus {
  color: white; }

.ec-europcom-pagetitle {
  margin: 2rem 0; }

.ec-europcom-faq {
  padding: 0; }

.ec-europcom-socialmedia img {
  width: 50px; }

.ec-europcom-faq {
  list-style: none; }

.ec-europcom-faq summary,
.ec-europcom-program summary {
  outline: 0; }

.ec-europcom-faq__item + .ec-europcom-faq__item {
  border-top: solid 1px var(--color-1); }

summary h3 {
  margin-left: 0;
  margin-right: 0; }

/* Program */
.Summit2019_Prog_Main,
.ec-europcom-program__item__description {
  border-radius: 4px; }

.nav-tabs {
  border-bottom: 0; }

.ec-europcom-program__item {
  padding: 1rem; }

@media screen and (min-width: 700px) {
  .ec-europcom-program__item {
    padding: 1rem 2rem; }
  .ec-europcom-program__item {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto 1fr; } }

.ec-europcom-program__item {
  border-bottom: dotted 1px var(--color-7); }

.ec-europcom-program__item:last-child {
  border-bottom: none; }

.ec-europcom-program__item summary {
  font-weight: bold; }

.ec-europcom-program__speakers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (min-width: 700px) {
  .ec-europcom-program__speakers-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

.ec-europcom-program__speakers-list__item {
  width: 160px;
  padding: 1rem; }

.ec-europcom-program__item__description {
  background: white; }

.ec-europcom-program__item__description h4 {
  text-align: center; }

@media screen and (min-width: 700px) {
  .ec-europcom-program__item__description h4 {
    text-align: left; } }

.ec-europcom-program__item__workshops__details-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  padding: 1rem 0 1rem 0; }

.ec-europcom-program__item__img {
  background-color: white;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  padding: 3px;
  text-align: center; }

.ec-europcom-program__item__img--citizens {
  background-color: var(--color-5); }

.ec-europcom-program__item__img--green {
  background-color: var(--color-3); }

.ec-europcom-program__item__img--digital {
  background-color: var(--color-6); }

.ec-europcom-program__item__workshops__details {
  background: white;
  border-radius: 4px; }

.ec-europcom-program__item__img--citizens + details {
  border-color: var(--color-5); }

.ec-europcom-program__item__img--green + details {
  border-color: var(--color-3); }

.ec-europcom-program__item__img--digital + details {
  border-color: var(--color-6); }

.ec-europcom-program__item__img img {
  max-height: 100%; }

.ec-europcom-program__speakers-list__item__description {
  font-size: 14px; }

.Summit2019_Session_Date {
  color: #474746;
  color: var(--text-color); }

.ec-europcom-program__tabs .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.ec-europcom-program__tabs .nav-link.active {
  background-color: #EFC740; }

.ec-europcom-program .btn-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ec-europcom-program .action-buttons {
  margin-left: auto; }

.ec-europcom-program .action-buttons .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ec-europcom-program :target {
  all: unset; }

.ec-europcom-program a.anchor {
  display: block;
  position: relative;
  top: -10px;
  visibility: hidden; }

/* Program page */
.ec-europcom-program-page-themes {
  list-style: none;
  padding: 0; }

@media screen and (min-width: 700px) {
  .ec-europcom-program-page-themes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem; } }

/* Overrides */
.container > .row {
  margin-right: -15px;
  margin-left: -15px; }

@media screen and (max-width: 650px) {
  .og-details {
    width: auto; } }

.slick-next {
  overflow: hidden; }

/* Contributors: hide for mobile */
@media screen and (max-width: 650px) {
  .og-fullimg {
    display: none; } }
