<div class="container">
	<section class="ec-europcom-socialmedia py-5">
		<h3 class="ec-europcom-socialmedia__title pb-2">Follow us on</h3>
		<ul>
			<li>
				<a href="https://www.facebook.com/European.Committee.of.the.Regions"><img src="/images/socialMediaLogos/facebook-logo.svg"/></a>
			</li>
			<li>
				<a href="https://twitter.com/eu_cor"><img src="/images/socialMediaLogos/twitter-logo.svg"/></a>
			</li>
			<li>
				<a href="https://www.youtube.com/channel/UCRDSza4YNyaVATrAkQ3EguQ"><img src="/images/socialMediaLogos/youtube-logo.svg"/></a>
			</li>
			<li>
				<a href="https://www.instagram.com/eu_regions_cities/"><img src="/images/socialMediaLogos/instagram-logo.svg"/></a>
			</li>
			<li>
				<a href="https://www.flickr.com/photos/62673028@N02/sets"><img src="/images/socialMediaLogos/flickr-logo.svg"/></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/groups/4203563/"><img src="/images/socialMediaLogos/linkedin-logo.svg"/></a>
			</li>
		</ul>
	</section>
	<hr/>
	<section class="ec-europcom-flags">
		<a href=""><img width="100px" class="img-fluid m-0 mb-3" src="/images/320px-Flag_of_Europe.svg.webp"></a>
	</section>
</div>

<footer class="noindex noprint ec-europcom-footer">
			<ul>

				<li>
					<a id="ctl00_LegalNoticeLink" href="https://cor.europa.eu/en/Pages/legal-notice.aspx" target="_blank"><span class="ms-splinkbutton-text">Legal notice</span></a>
				</li>
				<li>
					<a id="ctl00_CookiesLink" href="https://cor.europa.eu/en/Pages/Cookies.aspx" target="_blank"><span class="ms-splinkbutton-text">Cookies</span></a>
				</li>
				<li>
					<a id="ctl00_EnvironmentalStatementLink" href="https://cor.europa.eu/en/Pages/environmental-statement.aspx" target="_blank"><span class="ms-splinkbutton-text">Environmental statement</span></a>
				</li>
			</ul>	
			</footer>