<footer class="noindex noprint">
			<ul>
				<li>
					<a id="ctl00_LegalNoticeLink" href="https://cor.europa.eu/en/Pages/legal-notice.aspx" target="_blank"><span class="ms-splinkbutton-text">Legal notice</span></a>
				</li>
				<li>
					<a id="ctl00_CookiesLink" href="https://cor.europa.eu/en/Pages/Cookies.aspx" target="_blank"><span class="ms-splinkbutton-text">Cookies</span></a>
				</li>
				<li>
					<a id="ctl00_EnvironmentalStatementLink" href="https://cor.europa.eu/en/Pages/environmental-statement.aspx" target="_blank"><span class="ms-splinkbutton-text">Environmental statement</span></a>
				</li>
			</ul>	
			</footer>