
<footer class="noindex noprint">
			<ul>
				<li>
					<a href=""><img width="100px" id="ctl00_onetidHeadbnnr2" class="CoRLogo img-fluid" name="onetidHeadbnnr0" src="https://cor.europa.eu/Style%20Library/Cor/style/img/Logos/logo_CoR-vertical-positive-en-quadri_LR.png" alt="8th European Summit of Regions and Cities"></a>
				</li>
				<li>
					<a id="ctl00_LegalNoticeLink" href="https://cor.europa.eu/en/Pages/legal-notice.aspx" target="_blank"><span class="ms-splinkbutton-text">Legal notice</span></a>
				</li>
				<li>
					<a id="ctl00_CookiesLink" href="https://cor.europa.eu/en/Pages/Cookies.aspx" target="_blank"><span class="ms-splinkbutton-text">Cookies</span></a>
				</li>
				<li>
					<a id="ctl00_EnvironmentalStatementLink" href="https://cor.europa.eu/en/Pages/environmental-statement.aspx" target="_blank"><span class="ms-splinkbutton-text">Environmental statement</span></a>
				</li>
			</ul>	
			</footer>