<div class="header">
				<header id="logos" class="container noindex">
					<div class="row" style="margin:0;">	
						<div id="logo-cor" class="col-4">
								<img class="CoRLogo2" id="LogoImage2" alt="The EU's Assembly of Regional and Local Representatives" src="https://cor.europa.eu/Style Library/Cor/style/img/CoRLogoTriangleShadow.png">							
								<a id="ctl00_onetidProjectPropertyTitleGraphic" href="https://cor.europa.eu/en" target="_blank"><img id="ctl00_onetidHeadbnnr2" class="CoRLogo" name="onetidHeadbnnr0" src="https://cor.europa.eu/Style%20Library/Cor/style/img/Logos/logo_CoR-vertical-positive-en-quadri_LR.png" alt="8th European Summit of Regions and Cities"></a>
						</div>
					</div>	
				</header>	
				<header id="title">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="title">
									<span class="highlight">(Re)</span>New EUrope
								</div>										
								<div class="sub-title">
									8<sup>th</sup> European Summit of <span class="highlight">Regions</span> and <span class="highlight">Cities</span>
								</div>	
							</div>
						</div>
						<div class="row imageHeader">
							<div class="col-12">		
								<img alt="" src="https://cor.europa.eu/Style Library/Summit2019/img/image.png" class="img-fluid">
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="twitter-location">
									<div class="location highlight">
										Bucharest
									</div>
									<div class="date">
										14-15 March 2019</div>
									<div class="twitter">#EULocal</div>
								</div>						
							</div>
						</div>
					</div>
				</header>
			</div>