<div class="header">
				<header id="logos" class="container noindex">
					<div class="row" style="margin:0;">	
						<div id="logo-cor" class="col-4">
								<img class="CoRLogo2" id="LogoImage2" alt="The EU's Assembly of Regional and Local Representatives" src="https://cor.europa.eu/Style Library/Cor/style/img/CoRLogoTriangleShadow.png">							
								<a id="ctl00_onetidProjectPropertyTitleGraphic" href="https://cor.europa.eu/en" target="_blank"><img id="ctl00_onetidHeadbnnr2" class="CoRLogo" name="onetidHeadbnnr0" src="https://cor.europa.eu/Style%20Library/Cor/style/img/Logos/logo_CoR-vertical-positive-en-quadri_LR.png" alt="8th European Summit of Regions and Cities"></a>
						</div>
					</div>	
				</header>	
				{% render '@bannereuropcom' %}
			</div>