<div id="mobile-navigation" class="d-block d-lg-none sticky-top">
				<nav class="navbar navbar-expand-lg">
				  		<a class="navbar-brand" href="#"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavigation" aria-controls="mobileNavigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="mobileNavigation">
							<div class="container navbar-nav">
								<a id="ctl00_navigationHomeMobile" class="nav-item nav-link" href="https://cor.europa.eu/en/summit2019/Pages/homepage.aspx"><span class="ms-splinkbutton-text">Home</span></a>
								<a id="ctl00_navigationAboutMobile" class="nav-item nav-link" href="https://cor.europa.eu/en/summit2019/Pages/about.aspx"><span class="ms-splinkbutton-text">About</span></a>
								<a id="ctl00_navigationProgrammeMobile" class="nav-item nav-link" href="https://cor.europa.eu/en/summit2019/Pages/programme.aspx"><span class="ms-splinkbutton-text">Programme</span></a>
								 	<div class="submenu d-none">
										<a class="nav-item nav-link" href="#">page1</a>									
										<a class="nav-item nav-link" href="#">page2</a>
									</div>								
								<a id="ctl00_navigationSpeakersMobile" class="nav-item nav-link active" href="https://cor.europa.eu/en/summit2019/Pages/speakers.aspx"><span class="ms-splinkbutton-text">Speakers</span></a>
								<a id="ctl00_navigationMediaMobile" class="nav-item nav-link" href="https://cor.europa.eu/en/summit2019/Pages/media.aspx"><span class="ms-splinkbutton-text">Media</span></a>
								<a id="ctl00_navigationPracticalInformationMobile" class="nav-item nav-link" href="https://cor.europa.eu/en/summit2019/Pages/practical-information.aspx"><span class="ms-splinkbutton-text">Practical Information</span></a>
								<a id="ctl00_navigationResourcesMobile" class="nav-item nav-link" href="https://cor.europa.eu/en/summit2019/Pages/resources.aspx"><span class="ms-splinkbutton-text">Material</span></a>
							</div>
						
						</div>
					</nav>			
			</div>