<div id="desktop-navigation" class="d-none d-lg-block sticky-top">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse">
      <div class="container navbar-nav">
        <div class="nav-item">
          <a id="ctl00_navigationHome" class="nav-link" href="https://cor.europa.eu/en/summit2019/Pages/homepage.aspx"><span class="ms-splinkbutton-text">Home</span></a>
        </div>
        <div class="nav-item">
          <a id="ctl00_navigationAbout" class="nav-link" href="https://cor.europa.eu/en/summit2019/Pages/about.aspx"><span class="ms-splinkbutton-text">About</span></a>
        </div>
        <div class="nav-item">
          
          <a id="ctl00_navigationProgramme" class="nav-link" href="https://cor.europa.eu/en/summit2019/Pages/programme.aspx"><span class="ms-splinkbutton-text">Programme</span></a>							
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="#">page1</a></li>									
              <li><a class="nav-link" href="#">page2</a></li>
            </ul>
        </div>
        <div class="nav-item">
          <a id="ctl00_navigationSpeakers" class="nav-link active" href="https://cor.europa.eu/en/summit2019/Pages/speakers.aspx"><span class="ms-splinkbutton-text">Speakers</span></a>
        </div>
        <div class="nav-item">
          <a id="ctl00_navigationMedia" class="nav-link" href="https://cor.europa.eu/en/summit2019/Pages/media.aspx"><span class="ms-splinkbutton-text">Media</span></a>
        </div>
        <div class="nav-item">
          <a id="ctl00_navigationPracticalInformation" class="nav-link" href="https://cor.europa.eu/en/summit2019/Pages/practical-information.aspx"><span class="ms-splinkbutton-text">Practical Information</span></a>
        </div>
        <div class="nav-item">
          <a id="ctl00_navigationResources" class="nav-link" href="https://cor.europa.eu/en/summit2019/Pages/resources.aspx"><span class="ms-splinkbutton-text">Material</span></a>
        </div>
      </div>
    </div>
  </nav>	
</div>