.ec-europcom-program__item {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
  margin: 1rem 2rem;
}

.ec-europcom-program__item summary{
  align-items: center;
  display: flex;
  font-weight: bold;
}

.ec-europcom-program__speakers-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.ec-europcom-program__speakers-list__item {
  width: 160px;
  padding: 1rem;
} 

.ec-europcom-program__item__description {
  background: white;
}

.ec-europcom-program__item__workshops {
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 1fr 1fr;
}
