{% macro programItem(speach) %}
  

  <div class="ec-europcom-program__item">

    

    <div class="ec-europcom-program__item__time">{{ speach.time }}</div>

    <div>
      {% if speach.workshops %}
      <strong>{{ speach.title }}</strong>
      <div class="ec-europcom-program__item__workshops">
          
        
          
            {% for workshop in speach.workshops %}
            <div class="ec-europcom-program__item__workshops__details-container">
              <div class="ec-europcom-program__item__img ec-europcom-program__item__img--{{ workshop.category | lower }}">
                <img src="/images/{{ workshop.category | lower }}.svg" alt="{{ workshop.category | lower }} theme logo"/>
              </div>
              
              <div>
                <small class="text-uppercase">
                  {{workshop.category }}
                </small>
                <details>
                  <summary>
                    {{ workshop.title }}
                  </summary>
                  <div class="mt-1 p-3 ec-europcom-program__item__workshops__details">{{ workshop.more }}</div>
                </details>
              </div>
            </div>
            {% endfor %}
      
          
        
      
      </div>
      {% else %}
        <details>
          <summary>{{ speach.title }}</summary>

          <div class="ec-europcom-program__item__description my-3 p-3">
            {{ speach.description }}

            <h4 class="mt-3">Speakers</h4>
            <ul class="ec-europcom-program__speakers-list">
              <li class="ec-europcom-program__speakers-list__item">
                <img class="rounded-circle img-fluid" alt="Mr. Delores Murphy portrait" src="https://fakeface.rest/face/view/0?minimum_age=25">
                  <div class="ec-europcom-program__speakers-list__item__description text-center">
                    <small class="text-uppercase">Speaker</small><br/>
                    <strong>Mr. Delores Murphy</strong>
                    <div>Direct Web Planner, Goyette, White and Lakin&#8203;</div>
                  </div>
              </li>
              
            </ul>
          </div>

        </details>
      {% endif %}
    </div>
    

        
  </div>
{% endmacro %}


<div class="ec-europcom-program">
  
  
<div class="btn-toolbar mt-5 mb-5">
  <div class="btn-group mr-2">
    <button id="summarydAgenda" type="button" class="btn btn-sm btn-outline-secondary active">Summary program</button>
    <button id="detailedAgenda" type="button" class="btn btn-sm btn-outline-secondary">Detailed program</button>
  </div>

  <div class="action-buttons">
    <button class="btn btn-outline" id="PrintButton" title="Print"> 
      Print 
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-printer-fill ml-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"></path>
        <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"></path>
        <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
      </svg>
    </button> <button class="btn btn-outline" id="DownloadPDF" title="Download PDF"> 
      Download 
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down-fill ml-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4a.5.5 0 0 0-1 0v3.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 11.293V7.5z"/>
      </svg>
    </button>
  </div>
</div>
  
  <ul class="ec-europcom-program__tabs nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#firstday">Monday 7 December 2020</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#secondday">Thursday 8 December 2020</a>
    </li>
  </ul>
    
  <div class="Summit2019_Prog_Main">

      
        
        

        <a class="anchor" id="firstday"></a>
        <div class="groupingSession mt-2" class="anchor">
          <div class="col-12 Summit2019_Session_Date">Monday 7 December 2020</div>
        </div>
      
        {% for speach in program7th %}
          {{ programItem(speach) }}
        {% endfor %}

        <a class="anchor" id="secondday"></a>
        <div class="groupingSession mt-5"  class="anchor">
          <div class="col-12 Summit2019_Session_Date">Thursday 8 December 2020</div>
        </div>
      
        {% for speach in program8th %}
          {{ programItem(speach) }}
        {% endfor %}

  </div>
</div>
