.ec-europcom-program__item {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
}

.ec-europcom-program__item summary{
  align-items: center;
  display: flex;
}

.ec-europcom-program__speakers-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.ec-europcom-program__speakers-list__item {
  width: 160px;
  padding: 1rem;
} 

