.ec-europcom-speakers-list {
  display: grid;
  list-style: none;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.ec-europcom-speakers-list__item__portrait {
  display: block;
  max-width: 100%;
}