<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
	<link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Summit2019/css/summit2019.css">
	<link rel="stylesheet" href="{{ '/css/europcom.css' | path }}">
	<link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Summit2019/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script  src="{{ '/europcom/modernizr.js' | path }}"></script>
	<script  src="{{ '/europcom/summit2019.js' | path }}"></script>
	<script  src="{{ '/europcom/grid.js' | path }}"></script>
	<script defer src="{{ '/js/bundle.js' | path }}"></script>
</head>
<body>
	<div id="CorContainer" class="container-fluid">{{ yield | safe }}</div>
</body>
</html>