<ul class="ec-cor-list--cards">
  <li>{% render '@mediafactsheet--card' %}</li>
  <li>{% render '@mediafactsheet--card' %}</li>
  <li>{% render '@mediafactsheet--card' %}</li>
  <li>{% render '@mediafactsheet--card' %}</li>
  <li>{% render '@mediafactsheet--card' %}</li>
</ul>