<div class="container">
	{% render '@blockquote' %}
</div>

<div class="container" id="about-container">
		<h2>Europcom 2020</h2>
		<div class="about-description">
			<p>EuroPCom, the European Public Communication Conference, is the largest annual meeting point for experts in the field of public communication and jointly organised by the EU institutions in Brussels.</p>
			<p>Due to the COVID-19 crisis, the 11th edition of the  EuroPCom conference looks different this year.</p>
			<p>In June, it was organised for the first time as a fully digital event, with a series of three webinars addressing the issue of communicating in times of emergencies and of fake news, and the "new normal" in post COVID communication.</p>
			<p>On 7-8 December, EuroPCom 2020 - Time for Communica[c]tion will again be fully online, and will look at the opportunities and challenges in communication around three key themes: Citizens, Green and Digital. It will also address two of the most prominent initiatives of the European agenda for 2020 that will have major implications for European public communication: the Conference on the Future of Europe and the European Green Deal.</p>
			<p>During the conference, communication experts from different sectors will help members of the EuroPCom community to reflect on key questions, including: How should these initiatives be adapted to the new situation? How to communicate about them on the ground, so that priorities are not shifting? How do we ensure relevant and effective involvement of citizens? What impact does communication have on action?</p>

		</div>
		<div class="about-button">
			<a id="declarationLink" class="btn" href="">Register</a>
		</div>
	</div>

<div class="container" id="Speakers-container">
  <div class="col-12">
  {% render '@speakers--slider' %}
  </div>
</div>


<!-- Key themes -->
<div class="container-fluid" id="Themes-container">
	<div class="container">
  	{% render '@themes' %}
	</div>
</div>
<!-- /Key themes -->
