<div class="container" id="about-container">
		<h2>Europcom 2020</h2>
		<div class="about-description">
			On 7-8 December, EuroPCom 2020 - Time for Communica[c]tion will again be fully online, and will look at the opportunities and challenges in communication around three key themes: Citizens, Green and Digital. It will also address two of the most prominent initiatives of the European agenda for 2020 that will have major implications for European public communication: the Conference on the Future of Europe and the European Green Deal.
		</div>
		<div class="about-button">
			<a id="declarationLink" class="btn" href="">Register</a>
		</div>
	</div>

<div class="container" id="Speakers-container">
  <div class="col-12">
  {% render '@speakers--slider' %}
  </div>
</div>


<!-- Key themes -->
<div class="container-fluid" id="Themes-container">
  {% render '@themes' %}
</div>
<!-- /Key themes -->
