<div class="container">
		<div class="row">
			<div class="col-12">
      
        <p>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​Europe needs its regions and cities as much as they need Europe. At a crucial moment for the future of the European Union and for the implementation of the UN's 2030 Sustainable Development Agenda, leaders of regions and cities will come together in Bucharest on 14 and 15 March 2019 to make their voice heard. A few weeks before the European elections and ahead of important decisions on the leadership of the EU's institutions for the years to come, this Summit of Regions and Cities will adopt a declaration setting out a vision for a renewed European Union. A European Union which works for its citizens. A  European Union which is built on:</p>
        <ul>
          <li>democracy, in which regional and local government politicians are key players;</li>
          <li>solidarity, which needs to be at the heart of ensuring no people or places are left behind;​</li>
          <li>proximity, with a view to designing EU policies which take better account of local needs</li>
        </ul>

        {% render '@program' %}

    </div>
  </div>
</div>