
<div class="container">
		<div class="row">
			<div class="col-12">
      
        <h2 class="ec-europcom-pagetitle">Frequently Asked Questions(FAQ)</h2>

        <ul class="ec-europcom-faq">
        {% for item in faq %}
          <li class="ec-europcom-faq__item py-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <details>
              <summary  itemprop="name"><h3>{{ item.question }}</h3></summary>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text pt-3">
               {{ item.answer | safe  }}
              </div>
            </div>
            </details>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
