<div class="container">
		<div class="row">
			<div class="col-12">
      
        <span class="text-uppercase">Workshop</span>
        <h2>Citizen: Title of the video</h2>

        <p>The COVID-19 pandemic has revealed, amongst other things, the urgent need for Europeans at all level to stay connected and to cooperate. How to keep connected and positive in time of crisis ? We chat with Andrea Horvat-Kramaric, Head of S​ection Communication and Spokesperson - European Centre for Disease Prevention and Control (ECDC). 

Networking, sharing information and spreading good news about what works are key to respond positively to a crisis. Let's share positive stories from​ the ground, highlighting successful communication projects that helped EU citizens to keep connected and positive.</p>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RQqv3AbugQA" allowfullscreen></iframe>
        </div>

    </div>
  </div>
</div>