@import "settings.scss";
@import "../components/europcom/*.scss";

#CorContainer {
  --color-1: #bac4ca;
  --color-2: #e7e5dd;
  --color-3: #cde5d7;
  --color-4: #9bc5ce;
  --color-5: #eaba52;
  --color-6: #e16962;
}




#CorContainer *, #CorContainer ::before, #CorContainer ::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#CorContainer {
  padding: 0;
}

/* Program */
.ec-europcom-program-item__workshop summary {
  background-color: #232942;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: .5rem;
}

.ec-europcom-program-item__workshop__description {
  background: white;
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 1rem;
}

.og-details a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.og-details a::before {
  content: '';
}

.og-details a.ec-europcom-speaker__btnlink {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
  cursor: pointer;
}

/* Themes */
.ec-europcom-themes {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr 1fr;
}


/* Header */

header#title .location {
  margin-top: 0;
}

header#title .imageHeader {
  text-align: center;
}

header#title .imageHeader>div {
  margin-top: 35px;
}

header#title .title,
header#title .sub-title {
  padding-right: 0;
}

header#title {
<<<<<<< HEAD
  background-color: var(--color-4);  
=======
  background-color: var(--color-4);
  text-align: center;
>>>>>>> 36822b60a8c8050f9fb93f550562856fda968d70
}

.highlight {
  color: var(--color-6);
}

#about-container {
  background-color: var(--color-3);
}

#Themes-container {
  background-color: var(--color-5);
}

header#title .twitter-location {
  padding-right: 235px;
  text-align: right;
}