@import "settings.scss";
@import "../components/europcom/*.scss";

body {
  font-family: Arial;
  font-stretch: initial;
}

#CorContainer {
  --color-1: #bac4ca;
  --color-2: #e7e5dd;
  --color-3: #cde5d7;
  --color-4: #9bc5ce;
  --color-5: #eaba52;
  --color-6: #e16962;
  --color-7: #0f3753;
}

.navbar .navbar-collapse {
  background-color: var(--color-7);
}

.navbar a.nav-link:hover, a.nav-link:focus, a.nav-link:active, a.nav-link.active {
  background-color: var(--color-5);
  color: var(--color-7);
}

header#title .title {
  margin-top: 70px;
}

#Speakers-container {
  text-align: left ;
}


#CorContainer *, #CorContainer ::before, #CorContainer ::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#CorContainer {
  padding: 0;
}

.theme-title {
  font-size: 1.75rem;
}

.theme-description {
  font-size: 1rem;
}

/* Nav */
.navbar .nav-item {
  flex: 1;
}

/* Program */
.ec-europcom-program-item__workshop summary {
  background-color: #232942;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: .5rem;
}

.ec-europcom-program-item__workshop__description {
  background: white;
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 1rem;
}

.og-details a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.og-details a::before {
  content: '';
}

.og-details a.ec-europcom-speaker__btnlink {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
  cursor: pointer;
}

/* Themes */
.ec-europcom-themes {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-auto-flow: dense;
  gap: 1rem;
}

.ec-europcom-themes > div {
  border-radius: 10px;
}

.ec-europcom-themes__theme {
  background: white;
  grid-column: 2;
}

.ec-europcom-themes__theme + div {
  display: grid;
  place-items: center;
  grid-column: 1;
  padding: 1rem;
}

.theme-title {
  margin-top: 0;
}

.ec-europcom-themes__theme--green + div {
  background-color: var(--color-3);
  grid-row: -1;
}

.ec-europcom-themes__theme--citizens + div {
  background-color: var(--color-5);
}

.ec-europcom-themes__theme--digital + div {
  background-color: var(--color-6);
}

@media screen and (min-width: 500px) {
  .ec-europcom-themes {
    display: grid;
    gap: 15px;
    grid: 1fr 1fr / 1fr 1fr 1fr;
  } 

  .ec-europcom-themes__theme + div,
  .ec-europcom-themes__theme {
    grid-row: initial;
    grid-column: initial;
  }
}



/* Header */

header#title .location {
  margin-top: 0;
}

header#title .imageHeader {
  text-align: center;
}

header#title .imageHeader>div {
  margin-top: 35px;
}

header#title .imageHeader svg {
  max-width: 100%;
}

header#title .title,
header#title .sub-title {
  padding-right: 0;
}

header#title .title {
  font-size: 2rem;
}

@media screen and (min-width: 500px) {
  header#title .title {
    font-size: 3.8rem;
  }
  
}

header#title {
  background-color: var(--color-4);
  text-align: center;
}

.highlight {
  color: var(--color-6);
}

#about-container {
  background-color: var(--color-3);
}

#Themes-container {
  background: #9bc5ce;
  margin-top: 3rem;
  padding: 1rem;
}

@media screen and (min-width: 500px) {
  #Themes-container {
    margin-top: 5rem;
  }

  #Themes-container > div {
    
  }
}
  

header#title .twitter-location {
  padding-right: 0;
  text-align: right;
}

@media screen and (min-width: 500px) {
  header#title .twitter-location {
    padding-right: 0;
    text-align: right;
  }
}

/* HEader */
header#logos {
  height: inherit;
}

#logo-cor {
  height: 100px;
}

#logo-cor .CoRLogo {
  height: 65px;
  top: 15px;
}

.ec-europcom-blockquote svg {
  vertical-align: top;
  width: 30px;
}

.ec-europcom-blockquote svg path {
  fill: var(--color-2);
}

.ec-europcom-align-center {
  display: grid;
  place-items: center;
}

.ec-europcom-socialmedia__title {
  font-size: 1.5rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-align: center;
}

.ec-europcom-socialmedia ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  place-items: center;
  margin: 0;
}

.ec-europcom-socialmedia ul li {
  padding: 1rem 1.5rem
}

.ec-europcom-flags {
  display: grid;
  gap: 2rem;
  grid-template-columns: 100px 100px;
  justify-content: center;
  padding: 2rem;
  place-items: center;
}

.ec-europcom-footer {
  background-color: var(--color-7);
  color: white;
}

footer a, footer a:link, footer a:visited, footer a:focus {
  color: white;
}

.ec-europcom-pagetitle {
  margin: 2rem 0;
}

.ec-europcom-faq {
  padding: 0;
}