<script type="application/json">
{
	"service": "smk",
	"type": "user",
	"screen_name": "EU_Commission",
	"count": 3,
	"include_rts": false,
	"rts_display_original": false,
	"exclude_replies": true,
	"display_user": true,
	"display_user_pic": true,
	"auto_expand_photo": false,
	"auto_expand_video": false,
	"tweet_more_btn": true
}
</script>