<main class="cor-plenary cor-l-plenary cor-l-plenary--plenaries">
  <section class="cor-l-plenary__header">
    <div class="cor-l-plenary__header__intro">
      <h1 class="cor-plenary-heading--1">{{ title }}</h1>
      <div class="cor-plenary-description">{{ firstparagraph }}</div>
    </div>
    <div class="cor-l-plenary__header__picture-container">
      <img src="https://placeimg.com/640/480/any" alt="Illustration of a plenary"/>
    </div>
  </section>

  <section class="cor-l-plenary__toc">
    {% render "@toc" %}

    {% render "@toc--documents" %}

    <h2 class="cor-c-toc-title cor-c-plenary-title--sides cor-plenary-heading--3">Contact</h2>
    <a href="mailto:greffe@cor.europa.eu" class="cor-c-plenary-contact__link">greffe@cor.europa.eu</a>
  </section>

  <section class="cor-l-plenary__main">
    <p>Normally chaired by CoR's President, the main purpose of the plenary sessions is to:</p>
    <ul>
      <li>Vote on Opinions, reports and resolutions </li>
      <li>Adopt the CoR's political programme at the beginning of every term </li>
      <li>Elect a President, First Vice-president and the remaining members of the Bureau </li>
      <li>Set up policy commissions within the institution </li>
      <li>Approve CoR draft estimates for expenditure and revenue </li>
      <li>Revise and agree on CoR Rules of Procedure</li>
    </ul>

    <p>The relevant CoR commission will appoint one of its Members – known as the rapporteur – to draft an Opinion on the legislative proposal which is then voted on during one of CoR plenaries. If the Opinion receives a majority votes in its favour (simple majority), it is adopted and handed over to the other EU institutions for further scrutiny.</p>

    <p>The CoR may also proactively adopt a position on a particular issue through an own-initiative Opinion.</p>
  </section>

  <section class="cor-l-plenary__next-plenary-container">
    {% render "@nextplenary" %}
  </section>

  <section class="cor-l-plenary__previous-plenary-container">
    {% render "@previousplenaries" %}
  </section>
</main>

