<main class="cor-plenary cor-l-plenary">
  <section class="cor-l-plenary__header">
    <div class="cor-l-plenary__header__intro">
      <h1 class="cor-plenary-heading--1">{{ title }}</h1>
      <div class="cor-plenary-description">The M​embers of the European Committee of the Regions will meet remotely for the 141st plenary session on 8, 9 and 10 December​ 2020. 
The session will include the debate on the EU-UK Agreement and Territorial Consequences of Brexit, ​with ​​Michel Barnier, Programme 2021, with ​Maroš Šefčovič and more… </div>
    </div>
    <div class="cor-l-plenary__header__picture-container">
      <img src="https://placeimg.com/640/480/any" alt="Illustration of a plenary"/>
    </div>
  </section>

  <section class="cor-l-plenary__toc">
    {% render "@toc" %}

    {% render "@toc--documents" %}

    <h2 class="cor-c-toc-title cor-c-plenary-title--sides cor-plenary-heading--3">Contact</h2>
    <span class="cor-c-plenary-contact__link"><a href="mailto:greffe@cor.europa.eu" >greffe@cor.europa.eu</a></span>
  </section>

  <section class="cor-l-plenary__main">
    <p>The M​embers of the European Committee of the Regions will meet remotely for the 141st plenary session on 8, 9 and 10 December​ 2020.</p>

<p>Several debates and political discussions will take​ place, including the: </p>
<ul>
<li>EU-UK Agreement and Territorial Consequences of Brexit, ​with the participation of <strong>​​Michel Barnier</strong>, Head of Task Force for Relations with the United Kingdom </li>
<li>European Commission Work Programme 2021, with the participation of <strong>​Maroš Šefčovič</strong>, Vice-president of the European Commission for Interinstitutional Relations and Foresight.  </li>
</ul>
<p>Furthermore, there will be debates on:  </p>
<ul>
<li>the Enlargement Package And European Neighbourhood Policy with Commissioner for Neighbourhood and Enlargement <strong>Olivér Várhelyi</strong> </li>
<li>a New Pact On Migration And Asylum with Commissioner for Home Affairs <strong>Ylva Johansson</strong> </li>
<li>the Revision Of The Common Agriculture Policy with Commissioner for Agriculture <strong>Janusz Wojciechowski</strong> </li>
<li>stepping up climate ambition in times of COVID-19 with the German Federal Minister for the Environment, Nature Conservation and Nuclear Safety <strong>Svenja Schulze</strong>. </li>

</ul>
<p>​The plenary assembly will also discuss and vote​​ on the opinions listed <a href="">below on this page</a>.  </p>
<p>There will also be a vote​​ on the following resolution: ​ </p>
<ul>
<li>Resolution on "The European Commission Work Programme 2021​" ​​​​ </li>
</ul>
  </section>

  <section class="cor-l-plenary__webstreaming-container">
    {% render "@webstreaming" %}
  </section>
  
  <section class="cor-l-plenary__opinions-container">
    {% render "@opinions" %}
  </section>

  <section class="cor-l-plenary__agenda-container" id="contact">
    {% render "@agenda" %}
  </section>
</main>

