<main class="cor-plenary">
  <section class="cor-plenary__header">
    <div>
      <h1>{{ title }}</h1>
      <p>{{ firstparagraph }}</p>
      <p>
        <a href="test.be">Next session</a>
        <a href="test.be">Previous session</a>
      </p>
    </div>
    <div>
      <img src="https://placeimg.com/640/480/any"/>
    </div>

      {% render "@toc", {tableOfContent: tableOfContent, modifierClass: "plenary"} %}

    <div>

    </div>
  </section>
</main>