.cor-l-plenary__agenda-container {
  --background: rgba(198,229,241,1);

  background: var(--background);
  padding: var(--s2);
}

@media screen and (min-width: 500px) {
  .cor-l-plenary__agenda-container {
    grid-column: 1 / -1;
  }
}