<main class="cor-plenary cor-l-plenary">
  <section class="cor-l-plenary__header">
    <div class="cor-l-plenary__header__intro">
      <h1 class="cor-plenary-heading--1">{{ title }}</h1>
      <div class="cor-plenary-description">{{ firstparagraph }}</div>
    </div>
    <div class="cor-l-plenary__header__picture-container">
      <img class="cor-l-plenary__header__picture" src="https://placeimg.com/640/480/any" alt="Illustration of a plenary"/>
    </div>
  </section>

  <section class="cor-l-plenary__toc">
    {% render "@toc" %}

    {% render "@toc--documents" %}

    <h2 class="cor-c-toc-title cor-c-plenary-title--sides cor-plenary-heading--3">Contact</h2>
    <a href="mailto:greffe@cor.europa.eu" class="cor-c-plenary-contact__link">greffe@cor.europa.eu</a>
  </section>

  <section class="cor-l-plenary__main">
    <p>The m​embers of the European Committee of the Regions will meet remotely for the 141st plenary session on 8, 9 and 10 December​ 2020.</p>
    <p>Several debates and political discussions will take​ place, including one on the EU-UK Agreement and Territorial Consequences of Brexit, ​with the participation of ​​Michel Barnier, Head of Task Force for Relations with the United Kingdom and one on the European Commission Work Programme 2021, with the participation of ​Maroš Šefčovič, Vice-president of the European Commission for Interinstitutional Relations and Foresight. </p>
    <p>Furthermore, there will be a debate on the Enlargement Package And European Neighbourhood Policy with Commissioner for Neighbourhood and Enlargement Olivér Várhelyi, one on a New Pact On Migration And Asylum with Commissioner for Home Affairs Ylva Johansson and one on the Revision Of The Common Agriculture Policy with Commissioner for Agriculture Janusz Wojciechowski.</p>
  </section>

  <section class="cor-l-plenary__agenda-container">
    {% render "@agenda" %}
  </section>
</main>

