  <!-- Media fact sheets -->
  <section class="ec-cor-barometer-mediafactsheets ec-cor-barometer-container">

    <h2 class="ec-cor-heading--2">{{ mediafactsheets.title }}</h2>

    <ol class="ec-cor-barometer-mediafactsheets__list ec-cor-list--cards">
      <li class="ec-cor-barometer-mediafactsheets__item">
        {% render '@mediafactsheet--card' %}
      </li>
      <li class="ec-cor-barometer-mediafactsheets__item">
        {% render '@mediafactsheet--card' %}
      </li>
      <li class="ec-cor-barometer-mediafactsheets__item">
        {% render '@mediafactsheet--card' %}
      </li>
    </ol>

  </section>
  <!-- /Media fact sheets -->