<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#"><span>Speech EN</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span>Speech FR</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span>Speech DE</span></a>
  </li>
</ul>