<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Speech EN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Speech FR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Speech DE</a>
  </li>
</ul>