.cor-plenary__agenda {
  display: grid;
  gap: var(--s0);
}

.cor-plenary__agenda__list__item {
  margin-top: var(--s0);
}

@media screen and (min-width: 500px) {
  .cor-plenary__agenda__list__item {
    display: grid;
    gap: var(--s0);
    grid-template-columns: auto 1fr;
    margin: var(--s0);
  }

  .cor-plenary__agenda__list__item__description-container {
    display: flex;
    flex-direction: column;
  }
}