{%  macro ulist(list) %}
<ul class="cor-plenary-list">
  {% for listitem in list %}
  <li class="cor-plenary-list__item">
    {{ listitem }}
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{%  macro olist(list) %}
<ol class="cor-plenary-list">
  {% for listitem in list %}
  <li class="cor-plenary-list__item">
    {{ listitem }}
  </li>
  {% endfor %}
</ol>
{% endmacro %}

{{ ulist(list) }}

{{ olist(list) }}