.cor-l-plenary__next-plenary {
  --bg-color: rgba(0,120,170,1);
  --text-color: #fff;

  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  gap: var(--s0);
  padding: var(--s0);
}

.cor-l-plenary__next-plenary__picture-container img {
  display: block;
  max-width: 100%;
}

@media  screen and (min-width:500px) {
  .cor-l-plenary__next-plenary {
    gap: var(--s0);
    grid-template-columns: 1fr 2fr;
  }

  .cor-l-plenary__previous-plenary__archive-link {
    place-self: center;
  }
}
.cor-l-plenary__next-plenary__title,
.cor-l-plenary__next-plenary__subtitle {
  color: var(--text-color);
}

.cor-plenary-heading--3.cor-l-plenary__next-plenary__title {
  font-weight: normal;
  margin: 0;
}

.cor-l-plenary__next-plenary__place,
.cor-l-plenary__next-plenary__intro {
  margin-bottom: var(--s0);
}

.cor-plenary a.cor-l-plenary__next-plenary__btn,
.cor-plenary a.cor-l-plenary__next-plenary__btn:visited {
  color: #fff;
  border-bottom: solid 1px;
}