<div class="cor-l-plenary__next-plenary">
  <div class="cor-l-plenary__next-plenary__picture-container">
    <img src="/images/plenary/4441-Remote-plenary-coming-soon-1x1-Ratio.jpg" alt="Illustration of the next plenary" class="img-fluid cor-l-plenary__next-plenary__picture"/>
  </div>
  <div class="cor-l-plenary__next-plenary__description">
    <hgroup class="cor-l-plenary__next-plenary__titlegroup">
      <h2 class="cor-plenary-heading--3 cor-l-plenary__next-plenary__title">Next session</h2>
      <h3 class="cor-l-plenary__next-plenary__subtitle cor-plenary-heading--2">141st Plenary Session</h3>
    </hgroup>
    <span class="cor-l-plenary__next-plenary__date">14/12/2020 - 15/12/2020</span>
    <div class="cor-l-plenary__next-plenary__place"><strong>Online</strong></div>
    <div class="cor-l-plenary__next-plenary__intro">The M​embers of the European Committee of the Regions will meet remotely for the <strong>141st plenary session</strong> on 8, 9 and 10 December​ 2020. 
The session will include the debate on the EU-UK Agreement and Territorial Consequences of Brexit, ​with ​​<strong>Michel Barnier</strong>, Programme 2021, with <strong>​Maroš Šefčovič</strong> and more… </div>
    <a href="" class="cor-l-plenary__next-plenary__btn cor-c-btn--next-plenary">Read more</a>
  </div>
</div>