<div class="cor-l-plenary__next-plenary">
  <div class="cor-l-plenary__next-plenary__picture-container">
    <img src="/images/plenary/4441-Remote-plenary-coming-soon-1x1-Ratio.jpg" alt="Illustration of the next plenary" class="img-fluid cor-l-plenary__next-plenary__picture"/>
  </div>
  <div class="cor-l-plenary__next-plenary__description">
    <hgroup class="cor-l-plenary__next-plenary__titlegroup">
      <h2 class="cor-plenary-heading--3 cor-l-plenary__next-plenary__title">Next session</h2>
      <h3 class="cor-l-plenary__next-plenary__subtitle cor-plenary-heading--2">141th Session</h3>
    </hgroup>
    <span class="cor-l-plenary__next-plenary__date">14/12/2020 - 15/12/2020</span>
    <div class="cor-l-plenary__next-plenary__place"><strong>Online</strong></div>
    <div class="cor-l-plenary__next-plenary__intro">The European Committee of the Regions (CoR) holds up to 6 plenary sessions each year. Plenary sessions gather CoR members (or alternates) coming from regions and cities from all 27​ EU countries.</div>
    <a class="cor-l-plenary__next-plenary__btn cor-c-btn--next-plenary">Read more</a>
  </div>
</div>