
.cor-plenary__opinions__list {
  list-style: none;
  padding: 0;
}

.cor-l-plenary__opinions-grid {
  display: grid;
  gap: var(--s1);
}

@media screen and (min-width:600px) {
  .cor-l-plenary__opinions-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.cor-l-plenary__opinions__card {
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  color: var(--text-color);
  display: grid;
  grid-template-columns: 156px 1fr;
  height: 100%;
  overflow: hidden;
}

.cor-l-plenary__opinions__card__poster {
  background-position: center;
  background-size: cover;
}

.cor-l-plenary__opinions__card__description {
  display: grid;
  padding: var(--s0);
}

.cor-l-plenary__opinions__card__function,
.cor-l-plenary__opinions__card__countryandgroup {
  color: var(--c-g-3);
}

.cor-l-plenary__opinions__card__logos {
  text-align: right;
}

.cor-l-plenary__opinions__card__function,
.cor-l-plenary__opinions__card__countryandgroup {
  font-size: .75rem;
}