@import "settings.scss";

.cor-plenary {
  --c-blue-1: rgb(41,93,152,1);
  --links-color: var(--c-blue-1);

  --heading-size-1: 32px;
  --heading-size: 24px;
  --heading-size-secondary: 19px;
  --heading-size-3: 16px;
}






/*
 * Typography
 */
.cor-plenary {
  background-color: #fff;
  color: var(--text-color);
}

.cor-plenary-heading--1 {
  color: var(--text-color);
  font-size: var(--heading-size-1);
  line-height: 1.2;
  margin-bottom: var(--s1);
}
h1.cor-plenary-heading--1 {
  font-size: var(--heading-size-1) !important;
}

.cor-plenary-heading--2 {
  color: var(--text-color);
  font-size: var(--heading-size) !important;
  margin-bottom: var(--s0);
}

.cor-plenary-heading--3 {
  color: var(--text-color);
  font-size: var(--heading-size-3) !important;
  margin-bottom: var(--s0);
}

.cor-plenary-description,
.cor-plenary p,
.cor-plenary-paragraph {
  line-height: 1.5;
  font-size: 1rem;
  max-width: 45rem;
  padding: 0 0 var(--s-2);
}

.cor-plenary-description {
  font-size: 1.25rem;
  margin-bottom: var(--s3);
}

