html {
  scroll-behavior: smooth;
}

.cor-plenary {
  --c-blue-1: rgb(41,93,152,1);
  --links-color: #0e5f82;

  --heading-size-1: 32px;
  --heading-size: 24px;
  --heading-size-secondary: 19px;
  --heading-size-4: 18px;
  --heading-size-3: 16px;
}

.cor-plenary a,
.cor-plenary a:link,
.cor-plenary a:visited,
.cor-plenary a:focus {
  color: var(--links-color);
}



.cor-plenary *,.cor-plenary *:before,.cor-plenary  *:after {
    -moz-box-sizing: content-box;
    box-sizing: border-box;
}

/*
 * Grid
 */
.cor-l-plenary-grid {
  display: grid;
}
 .cor-l-plenary-grid--2 {
  gap: var(--s0) ;
  grid-template-columns: 1fr 1fr;
 }

/*
 * Typography
 */

 .cor-plenary {
  background-color: #fff;
  color: var(--text-color);
}

.cor-plenary-heading--1 {
  color: var(--text-color);
  font-size: var(--heading-size-1);
  line-height: 1.2;
  margin-bottom: var(--s1);
}
h1.cor-plenary-heading--1 {
  font-size: var(--heading-size-1) !important;
}

.cor-plenary-heading--2 {
  color: var(--text-color);
  font-size: var(--heading-size) !important;
  margin-bottom: var(--s0);
}

.cor-plenary-heading--3 {
  color: var(--text-color);
  font-size: var(--heading-size-3) !important;
  margin-bottom: var(--s0);
}

.cor-plenary-heading--4 {
  color: var(--text-color);
  font-size: var(--heading-size-4) !important;
  line-height: 1.2;
  margin-bottom: var(--s0);
}

.cor-plenary-description,
.cor-plenary p,
.cor-plenary-paragraph {
  line-height: 1.5;
  font-size: 1rem;
  max-width: 45rem;
  padding: 0 0 var(--s-2);
}

.cor-plenary-description {
  margin-top: var(--s3);
}

@media screen and (min-width: 800px) {
  .cor-plenary-description {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}
/*
 * Buttons
 */
.cor-c-plenary__btn {
  border: solid 1px white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--s-2);
}

a.cor-c-plenary__btn,
a.cor-c-plenary__btn:visited {
  color: white;
}

.cor-c-plenary__btn--twitter {
  background-color: white;
  color: rgba(29,161,242,1);
}

a.cor-c-plenary__btn--twitter,
a.cor-c-plenary__btn--twitter:visited {
  color: rgba(29,161,242,1);
}

a.cor-c-plenary__btn--twitter:hover {
  color: #fff;
}



.cor-c-plenary__btn:hover {
  background-color: #006088;
}

.cor-c-plenary__btn svg {
  margin-left: var(--s0);
}

.cor-c-plenary__btn--twitter {
  margin-left: 0;
  margin-right: var(--s0);
}