

@media screen and (min-width:500px) {

  .cor-l-plenary--plenaries .cor-l-plenary__previous-plenary-list-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.cor-l-plenary__previous-plenary-list {
  margin-top: var(--s0);
}


@media screen and (min-width:500px) {
  .cor-l-plenary__previous-plenary-list {
    --background: linear-gradient(180deg, #0078AA 0%, #069FDB 100%);
    --border-radius: 8px;
    
    display: grid;
    gap: var(--s0);
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
  }

}

.cor-l-plenary__previous-plenary-tile {

}

@media screen and (min-width:500px) {
  .cor-l-plenary__previous-plenary-tile {
    align-items: center;
    background: var(--background);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: var(--s0);
  }

  .cor-l-plenary__previous-plenary-number,
  .cor-l-plenary__previous-plenary-date {
    color: white;
  }
  .cor-l-plenary__previous-plenary-number {
    font-size: 2rem;
    font-weight: bold;
  }

}

.cor-l-plenary__previous-plenary__archive-link {
  border-bottom: solid 1px;
}

@media screen and (max-width:500px) {
  .cor-l-plenary__previous-plenary__archive-link {
    margin-left: var(--s0);
  }
}


.cor-l-plenary--archives .cor-l-plenary__previous-plenary-list-container {
  grid-template-columns: 1fr;
}