<nav class="cor-c-toc" aria-labelledby="sections-heading">
  <h2 class="cor-c-toc-title cor-c-plenary-title--sides cor-plenary-heading--3 mb-0">{{ title }}</h2>
  <ul class="cor-c-toc-list cor-c-toc-list--{{ modifier }}">

    {% for section in tableOfContent %}
    <li class="cor-c-toc-list__item cor-c-toc-list__item--{{ modifier }}">
      <a class="cor-c-toc__link cor-c-toc__link--{{ modifier }}" href="#{{ section | lower }}"><span class="cor-c-toc__link__content cor-c-toc__link__content--{{ modifier }}">{{ section }}</span></a>
    </li>
    {% endfor %}

  </ul>
</nav>