.cor-c-toc {
  --color: var(--links-color);
  --padding: var(--s-2) 0;
  --title-color: var(--text-color);

  color: var(--color);
}

.cor-c-toc__link {
  display: block;
  padding: var(--padding);
}

.cor-c-toc-title {
  color: var(--title-color);
}

.cor-c-toc-list--documents {
  background-color: var(--c-yellow);
  color: var(--text-color);
  margin-top: var(--s0);
  padding-top: var(--s0);
  padding-bottom: var(--s0);
}

a.cor-c-toc__link--documents {
  align-items: center;
  color: var(--text-color);
  display: flex;
}

a.cor-c-toc__link--documents:hover {
  color: #000;
}

.cor-c-toc__link--documents:after {
  background: url(../images/plenary/icons/doc.svg) no-repeat;
  content: "";
  display: block;
  height: 16px;
  margin-left: var(--s-2);
  width: 16px;
}

.cor-c-toc__link__content--documents {
  border-bottom: solid 1px;
}